<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-8'>
      <h1 class='text-secondary'>Edit your article here</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
